$fontFamily: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontColor: #58646A;
$titleFontColor: #374146;

$wideScreenWidth: 1920px;
$desktopScreenWidth: 1280px;
$tabletScreenWidth: 768px;
$mobileScreenWidth: 320px;

$background: #FFFFFF;
$primary: #7DCDD7;
$secondary: #374146;
$accent: #EA5A0A;

// colors

$white: #FFFFFF;
$white-100: #F7F8FD;

$gray-200: #F8F9FB;
$gray-300: #EEEFF1;
$gray-400: #DADBDD;
$gray-500: #A9B0C2;
$gray-600: #8B92A4;

$black-700: #394158;
$black-800: #111930;
$black-1000: #000000;

$orange-100: #FFFFB2;
$orange-200: #FFF09E;
$orange-300: #FFD280;
$orange-400: #FF882C;
$orange-500: #F56100;

$blue-0: #E9F3FF;
$blue-50: #DFE9FF;
$blue-100: #C2CAF3;
$blue-200: #A4B0ED;
$blue-300: #7A8CE4;
$blue-400: #6175DF;
$blue-500: #3953D7;
$blue-600: #344CC4;
$blue-700: #283B99;
$blue-800: #1F2E76;
$blue-900: #18235A;

$lilac-300: #A29CFF;
$lilac-500: #6660ED;

$fiolet-100: #ECE3FF;
$fiolet-500: #8854EA;

$yellow-300: #F4DA68;

$red-200: #FFACA5;
$red-300: #E29490;
$red-500: #FF665F;

$green-100: #AAFFA8;
$green-200: #8CE78A;
$green-300: #6DFF8D;
$green-400: #4FE16F;
$green-500: #2CB829;

$pink-300: #FF80FF;
$pink-500: #F344FF;

$transparent-orange-10: #FFD2801A;
$transparent-orange-20: #FFD28033;
$transparent-white-40: #FFFFFF66;
$transparent-grey-30: #C6C7C94D;
$transparent-grey-30: #DBF6FF80;

//Radius

$border-radius-xxs: 4px;
$border-radius-xs: 8px;
$border-radius-s: 12px;
$border-radius-m: 20px;
$border-radius-l: 24px;