$fontFamily: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontColor: #58646A;
$titleFontColor: #374146;

$wideScreenWidth: 1920px;
$desktopScreenWidth: 1280px;
$tabletScreenWidth: 768px;
$mobileScreenWidth: 320px;

$background: #FFFFFF;
$primary: #7DCDD7;
$secondary: #374146;
$accent: #EA5A0A;