@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--primary-main: theme('colors.primary.main');
		--secondary-main: theme('colors.secondary.main');
		--info-main: theme('colors.info.main');
		--success-main: theme('colors.success.main');
		--warning-main: theme('colors.warning.main');
		--error-main: theme('colors.error.main');
		--grey-500: theme('colors.grey.500');
		--common-black: theme('colors.common.black');
		--common-white: theme('colors.common.white');
	}
}

@layer base {
	* {
		@font-face {
			font-family: NunitoSans;
			font-display: swap;
			src:
				url(/fonts/NunitoSans-Regular/NunitoSans-Regular.woff2) format('woff2'),
				url(/fonts/NunitoSans-Regular/NunitoSans-Regular.woff) format('woff');
			font-weight: 400;
			font-style: normal;
		}
		@font-face {
			font-family: NunitoSans;
			font-display: swap;
			src:
				url(/fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff2)
					format('woff2'),
				url(/fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff) format('woff');
			font-weight: 600;
			font-style: normal;
		}
		@font-face {
			font-family: NunitoSans;
			font-display: swap;
			src:
				url(/fonts/NunitoSans-Bold/NunitoSans-Bold.woff2) format('woff2'),
				url(/fonts/NunitoSans-Bold/NunitoSans-Bold.woff) format('woff');
			font-weight: 700;
			font-style: normal;
		}
		@font-face {
			font-family: SoyuzGrotesk;
			font-display: swap;
			src:
				url(/fonts/SoyuzGrotesk-Bold/SoyuzGrotesk-Bold.woff2) format('woff2'),
				url(/fonts/SoyuzGrotesk-Bold/SoyuzGrotesk-Bold.woff) format('woff');
			font-weight: 700;
			font-style: normal;
		}
		@font-face {
			font-family: Inter;
			font-display: swap;
			src:
				url(/fonts/Inter-SemiBold/Inter-SemiBold.woff2) format('woff2'),
				url(/fonts/Inter-SemiBold/Inter-SemiBold.woff) format('woff');
			font-weight: 600;
			font-style: normal;
		}
	}
}
